body {
    margin: 0;
    Padding: 0
}
.site-header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(221,141,130,255),rgba(221,141,130,255)),url(/Users/miakastehein/kood_kastehein/kood_kastehein/minu_esimene_veebileht/images/banner.png);
    background-position: center;
    background-size: cover;
    position: relative;
}